{{> mri_sequence_description }} {{suffix}} structural MRI data
were collected ({{nb_slices}} slices; repetition time, TR= {{RepetitionTime}} s;
echo time, TE= {{echo_time}} ms; flip angle, FA= {{FlipAngle}} deg; {{> image_size}}.
