A {{> mri_sequence_description }} field map
(phase encoding: {{PhaseEncodingDirection}}; {{nb_slices}} slices; repetition time,
TR= {{RepetitionTime}} s; echo time 1 / 2, TE 1/2= {{echo_time}} ms; flip angle,
FA= {{FlipAngle}} deg;  field of view, {{> image_size}}) was acquired.
