For the {{ TaskName }} task, {{ nb_runs }} run(s) of {{ suffix }} {{> mri_sequence_description }} fMRI data were collected.

The acquisiton parameters were: {{ nb_slices }} slices acquired in a {{ so_str }} fashion; repetition time,
TR= {{ RepetitionTime }} s; echo time, TE= {{ echo_time }} ms; flip angle, FA= {{ FlipAngle }} deg; multiband factor= {{ mb_str }};
in-plane acceleration factor= {{ pr_str }}; {{> image_size}}

Each run was {{ length }} minutes in length, during which {{ nb_vols }} functional volumes were acquired.
